@media(min-width: 768px){
    .chat-wedget{
        position: fixed;
        bottom: 20px;
        right:20px;
        height: 60px;
        width:60px;
        background: #0ab9c1;
        border-radius: 50%;
        transition: all 0.2s;
        z-index:99999999;
        -webkit-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }

    .chat-wedget:hover{
        height: 70px;
        width:70px;
    }
}

@media(max-width: 768px){
    .chat-wedget{
        position: fixed;
        bottom: 20px;
        right: 20px;
        height: 35px;
        width: 35px;
        background: #0ab9c1;
        border-radius: 50%;
        transition: all 0.2s;
        z-index: 99999999;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .chat-wedget:active{
        height: 70px;
        width:70px;
    }
}


.sb-chat-icon{
    height: 20px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -10px;
    margin-left: -10px;
    transition: all 0.2s;
    background-attachment: fixed;
}

.chat-wedget:hover .sb-chat-icon{
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
}









/**
* chat window
*/

@media(min-width: 768px){
    .chat-window{
        position: fixed;
        bottom:50px;
        right:20px;
        height: 70vh;
        width: 25%;
        box-shadow: 2px 9px 11px 2px #25232359;
        background: #fff;
        z-index:-1;
        opacity: 0;
        transition: all 0.9s;
    }
}

@media(max-width: 768px){
    .chat-window{
        position: fixed;
        bottom:50px;
        right:20px;
        height: 70vh;
        width: 85%;
        box-shadow: 2px 9px 11px 2px #25232359;
        background: #fff;
        z-index:-1;
        opacity: 0;
        transition: all 0.9s;
    }
}

.chat-window.active{
    opacity: 1;
    z-index:9999999;
}

.chat-window-header{
    background: #0ab9c1;
    padding: 10px;
}

.chat-window-header .title{
   
    color:#fff;
}

.chat-window-header .close{
    color: #fff;
    font-size: 35px;
    line-height: 30px;
    float: right;
    cursor: pointer;
    font-weight: 600;
    -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.chat-window-header .close:active{
    color: #c9c9c9;
    
}

.chat-window-footer{
    border-top:1px solid #0ab9c1;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background: #fff;

}
.chat-window-footer .sb-chat-input{
    border:1px solid #d6cece;
    width: 76%;
    padding: 10px 5px 10px 5px;
    outline: none;
}
.chat-window-footer .sb-send-btn{
    background: #068086;
    width:20%;
    border:1px solid #0ab9c1;
    padding: 10px 5px 10px 5px;
    color: #fff;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.chat-window-footer .sb-send-btn:active{
    background: #04575c;
    
}


.chat-window-content{
    overflow-y: auto;
    height: 47vh;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.sb-user-sent-msg{
  background: #f3f3f3dd;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
    width:80%;
    margin-left: auto;
    margin-right: 10px;
}
.sb-user-sent-msg::before{
    content: "Me:";
    position: relative;
    left: 0;
    border-radius: 50%;
    font-size: 11px;
    padding: 5px;
    font-weight: bold;
}

.sb-user-reply-msg{
    background-color: #0ab9c1; 
    padding: 10px;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    margin-top: 10px;
    width:80%;
    margin-left: 10px;
}

.sb-user-reply-msg::before{
    content: "Bot:";
    position: relative;
    left: 0;
    border-radius: 50%;
    font-size: 11px;
    padding: 5px;
    font-weight: bold;
}


/* width */
.chat-window-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.chat-window-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.chat-window-content::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 25px;
}

/* Handle on hover */
.chat-window-content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.sb-chat-error{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -20px;
    width: 100%;
    font-size: 11px;
    padding-top: 5px;
    text-align: center;
    transition: all 0.3s;
}

.sb-chat-error.active{
    visibility: visible;
    top: 20px;
    opacity: 1;
   
}